.icons {
  display: none;
}

:root {
  --clr-primary: #ffffff;
  --clr-secondary: #0891b2;
  --clr-primary-text: #000000;
  --clr-primary-text-faded: hsla(0, 0%, 0%, 0.7);
  --clr-secondary-text: #ffffff;
  --clr-card-1: #9e1c1c;
  --clr-card-2: #7c75ca;
  --clr-card-3: #5e8f4d;
  --clr-card-4: #c363b4;
  --clr-card-5: #d88f39;
  --clr-card-6: #0891b2;

  --ff-primary: "Playfair Display", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  --fs-xs: 1.2rem;
  --fs-small: 2.1rem;
  --fs-medium: 2.875rem;
  --fs-big: 3.6rem;
  --fs-gigantic: 5.5rem;

  --fs-primary-heading: var(--fs-gigantic);
  --fs-heading: var(--fs-big);
  --fs-body: var(--fs-medium);
  --fs-detail: var(--fs-small);

  --box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.top-background-decor {
  position: absolute;
  z-index: -100;
  background-color: var(--clr-secondary);
  width: 100%;
  height: 900px;
  translate: 0 -250px;
  transform: skewY(-13deg);
  overflow: hidden;
}
header {
  height: 100%;
}

.profile-picture-container {
  position: absolute;
  z-index: 1;
  top: 12%;
  left: 5%;
  width: 780px;
  box-shadow: var(--box-shadow);
}
/* .profile-picture-container img {
  width: 100%;
  height: auto;
} */
.profile-picture-name {
  position: absolute;
  top: 100%;
  left: 50%;
  white-space: nowrap;
  translate: -50% -100%;
  color: var(--clr-secondary-text);
  font-family: var(--ff-heading);
  font-size: var(--fs-gigantic);
  text-shadow: var(--box-shadow);
}

.about-me-container {
  box-shadow: var(--box-shadow);
  position: absolute;
  background-color: var(--clr-primary);
  width: 890px;
  height: 510px;
  top: 20%;
  left: 47%;
}
.about-me-heading {
  font-size: var(--fs-big);
  font-family: var(--ff-heading);
  margin: 20px 0 0 30px;
}
.about-me-paragraph {
  font-size: var(--fs-small);
  font-family: var(--ff-body);
  color: var(--clr-primary-text-faded);
  margin: 20px 50px 0 30px;
}
.about-me-icon-container {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 100%;
  translate: -100% -100%;
  padding: 0px 50px 30px 0;
}
.about-me-icon {
  font-size: var(--fs-medium);
  padding-left: 20px;
}

main {
  height: 165%;
}
.card-section-heading {
  margin-left: 5%;
  font-size: var(--fs-big);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 60px;
  margin: 20px 5%;
}
.card {
  box-shadow: var(--box-shadow);
  height: 600px;
}
.card img {
  height: 60%;
}
.project-text-container {
  padding: 20px;
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.project-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-links > * {
  font-size: var(--fs-small);
}
.project-heading {
  font-size: var(--fs-small);
}
.project-paragraph {
  font-size: var(--fs-xs);
  font-family: var(--ff-body);
  color: var(--clr-primary-text-faded);
}

.card1 img {
  background-color: var(--clr-card-1);
}
.card2 img {
  background-color: var(--clr-card-2);
}
.card3 img {
  background-color: var(--clr-card-3);
}
.card4 img {
  background-color: var(--clr-card-4);
}
.card5 img {
  background-color: var(--clr-card-5);
}
.card6 img {
  background-color: var(--clr-card-6);
}

footer {
  height: 90%;
  background-color: var(--clr-secondary);
}
.contact-container {
  display: flex;
}
.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 5%;
}
.contact-img {
  width: 900px;
  height: auto;
  margin: 60px 40px 0 120px;
}
.contact-heading {
  color: var(--clr-secondary-text);
  font-size: var(--fs-big);
  font-family: var(--ff-heading);
  margin-bottom: 20px;
}
.contact-paragraph {
  color: var(--clr-secondary-text);
  font-size: var(--fs-small);
  font-family: var(--ff-secondary);
  line-height: 40px;
  margin: 10px;
}
.contact-icon-wrapper {
  display: flex;
  align-items: center;
  color: var(--clr-secondary-text);
  font-size: var(--fs-small);
  font-family: var(--ff-secondary);
}
.contact-icon-wrapper svg {
  margin-right: 10px;
}
.footer-links-container {
  margin-top: 30px;
}
